#container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 8fr 1.5fr 3fr;
}

#welcome {
  background-image: url(../public/flatbread.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 20% ;
}

#welcomeInstructions {
  background-color: rgba(0,0,0,.25);
  height: 35vh;
  color: white;
  padding: 3% 0 0 5%;
}

#welcomeInstructions h1 {
  margin: 0;
  font-weight: 700;
  font-size: calc(100vw * .08);
  line-height: 90%;
}

#welcomeInstructions h2 {
  font-size: calc(100vw * .03);
  margin: 0;
}

#safetyInfo {
  align-self: center;
  height: 100%;
  display: flex;
  background-color: #4c753f;
  color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 400;
  font-size: 1.5em;;
}

#safteyInfo span {
  margin: auto;
}

#ad {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#coffeeCup {
  width: 15%;
  height: auto;
  margin-left: 30px;
}

#sipLogo {
  width: 30%;
  height: auto;
  align-self: center;
}

#transitionCircle {
  position: absolute;
  z-index: 10;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: white;
  animation: 1.1s ease-in 1 expand;
}

@keyframes expand {
  from {
    scale: 0;
  }
  to {
    scale: 1000;
  }
}
